/* This is a CSS file */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    color:#404040;
    background-color: #f8daf6;
    margin: 0;
    padding: 0;
}

header, footer {
    background: rgb(90, 155, 29);
    width: 980px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    padding: 20px;
    }   

.container {
    background: rgb(194, 235, 155);
    width: 980px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    padding: 20px;  
    }

.white {
    color: rgb(245, 240, 240);
}

#img-shadow {
    box-shadow: 0px 0px 2px 1px #000000
}

ul li {
    list-style-type: square;
    background: grey;
    padding: 3px    ;
    color: azure;
    
}

ul li:nth-child(odd) {
    background: rgb(170, 184, 90);
    color:#404040
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li a:link,
nav ul li a:visited {
    text-decoration: none;
    background: #3f580d;
    color:seashell;
    padding: 10%;
    border: 2px solid #ffffff;
}

nav ul li a:hover {
    background: rgb(212, 102, 240);
}


nav ul li, nav ul li:nth-child(odd) {
    background: none;
    display: inline-block;
}

